<div id="login" class="animated fadeInDown">
  <div id="content" class="smart-form client-form">		<div class="col-lg-1"></div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<div class="well no-padding">
		    	<header>
		            <i class="fa fa-list-alt"></i>&nbsp;Follow Up
		    	</header>
		    	<fieldset>
					<%= render 'form' %>
				</fieldset>
			</div>
		</div>
   </div>
</div>
