<div id="login" class="animated fadeInDown">
  <div id="content" class="smart-form client-form">
	<div class="container">
		<div class="col-md-2 col-lg-2"></div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div class="well no-padding">
		    	<header>
		            New Follow Up
		    	</header>
		    	<fieldset>
					<%= render 'form' %>
				</fieldset>
			</div>
		</div>
	</div>
  </div>
</div>