<h1>Welcome <%=@user.name%></h1>


<br />
<br />
<br />
<br />

<div class="container">
<% if can? :create, @patient %>
  <%= link_to 'New Patient', new_patient_path, :class => "btn btn-primary btn-lg" %>
<% end %>
<%= link_to 'Existing Patient', 'patients/search', :class => "btn btn-info btn-lg" %>
</div>

<br />
<br />
<br />
<br />


<div class="container">
<%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-success btn-lg" %>
</div>



