<h1>Welcome <%=@user.name%></h1>


<br />
<br />
<br />
<br />


<%= link_to 'New Patient', new_patient_path, :class => "btn btn-primary" %>
<%= link_to 'Existing Patient', 'patients/search', :class => "btn btn-info" %>


<br />
<br />
<br />
<br />



<%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-success" %>




