<div class="smart-form client-form animated fadeInDown">
	<div class="col-lg-1"></div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
		<div class="well no-padding">
		    <header>
		            Edit Admission Date
		    </header>
		    <fieldset>
					<%= render 'form' %>
			</fieldset>
		</div>
	</div>
</div>
