<body id="login" class="animated fadeInDown">
<div id="main" role="main">
<h1>Editing patient</h1>

<%= render 'form' %>

<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
</div>
</body>
