/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require jqplot
*= require bootstrap
*= require font-awesome
*= require smartadmin-production
*= require bootstrap-editable
*= require jquery-ui
*= require_tree .
*/

.left_bar_nav ul li {
	overflow: auto !important;
}

#ui-datepicker-div {
	z-index:100000000 !important;
}
#header_div {
	position: fixed;
	width:100%;
	top:0;
}
#main{
	margin-top:50px;
}
body {
	overflow:visible !important;
}
#left-panel{
	position: fixed !important;
}
.jarviswidget > div {
	padding: 5px 13px 0px !important;
}
.btn-xl {
	line-height:3 !important;
	height:85px !important;
}

.smart-form footer .btn {
	float: left !important;
	padding: 0 2px !important;
}
/*table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}*/

.div_right{
	padding-top:10px;
	float:right !important;
}

.div_left {
	padding-top:10px;
	float:left !important;
}

.category_name {
	font-size:16px;
}
.pad {
	padding-left:15px !important;
}
.question_table {
	float:left;
	padding:5px;
}

.btn_common {
	width:250px;
	padding:10px !important;
}
.btn_nad {
	padding:5px !important;
}

@media print {
	#over-the-top {
		display:none !important;
	}
	#history_pdf_button {
		display:none;
	}
	#summary_form {
		display:none;
	}
}