
<div class="table-responsive animated fadeInDown resultTable_div">
	<table id="resultTable" class="table table-striped table-bordered table-hover resultTable" style="margin-bottom:0px;">
		<tr>
			<td><h2>Admissions <%= link_to "Create New Day Entry", new_admission_admit_day_path(@admission), :class => "btn btn-success" %></h2></td>
		</tr>
	</table>	
	<table id="resultTable" class="table table-bordered">
		<tr>
		  <% @admission.admit_days.sort_by {|a| a.serial_number}.each do |ad| %>
		      <td style="width:50%;float:left;"><%= link_to "DAY#{ad.serial_number}", edit_admission_admit_day_path(@admission.id, ad), :class => "btn btn-primary" %>&nbsp;&nbsp;<%=ad.admit_date.strftime("%d-%m-%Y (%A)")%></td>
		  <% end %>
		</tr>
	</table>
</div>



