<% if !@follow_ups.blank?%>
  <table class="table">
    <tr>
    <th> Date </th>
    <th> Final Diagnosis </th>
    <th> comments </th>
    </tr>
  <% @follow_ups.each do |fu| %>
    <tr>
    	<td> <%= fu.follow_up_date %> </td>
    	<td> <%= fu.final_diagnosis %> </td>
    	<td> <%= fu.comments %> </td>
    </tr>
  <% end %>
  </table>
<%end%> 