
  <table class="table">
    <tr>
    <th> Medicine </th>
    <th> Frequency </th>
    <th> Duration </th>
    <th> Route </th>
    </tr>
  <% @prescriptions.each do |pre| %>
    <tr>
    	<% #TODO Don't make another SQL query, fetch it from existing activerecord object %>
    	<td> <%= pre.medicine %> </td>
    	<td> <%= pre.frequency %> </td>
    	<td> <%= pre.duration %> </td>
      <td> <%= pre.route %> </td>
    </tr>
  <% end %>
  </table>