<div id="content" class="smart-form client-form">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class="well no-padding">
        <header>
            <b><i class="fa fa-list-alt"></i>&nbsp;<%=@super_category.capitalize%>
              <%if @super_category=='history'%>
                <button type="button" id="history_pdf_button" class= "btn btn-primary" onclick="javascript:window.location.href='/details/show_history?&pdf=true'">Generate PDF</button>
              <%elsif @super_category=='examination'%>
                <button type="button" id="history_pdf_button" class= "btn btn-primary" onclick="javascript:window.location.href='/details/show_examinations?&pdf=true'">Generate PDF</button>
              <%elsif @super_category=='investigation'%>
                <button type="button" id="history_pdf_button" class= "btn btn-primary" onclick="javascript:window.location.href='/details/show_investigations?&pdf=true'">Generate PDF</button>
              <%end%>    
            </b>
        </header>
        <div id="accordion" style="display:table;">
          <%@categories.each do |index,value|%>
            <h3 id="<%=index%>" class="accordion_h3" style="background:rgb(235, 235, 235)"><%=value%><i class="fa fa-plus-square"></i><i class="fa fa-minus-circle"></i></h3>
            <div style="background:#fff;"> 
              <%@filterd_common_questions = @common_questions.where(:category => "#{index}#{APP_CONFIG['common_category_tag']}") if @common_questions%>
              <%@filterd_questions = @questions.where(:category => index) if @questions%>
              <%@filterd_common_descriptive_questions = @common_descriptive_questions.where(:category => "#{index}#{APP_CONFIG['common_category_tag']}") if @common_descriptive_questions%>
              <%@filterd_descriptive_questions = @descriptive_questions.where(:category => index) if @descriptive_questions%>
              <%@filterd_investigations = @investigations.where(:category => index) if @investigations%>
              <%= render 'form' %> 
            </div>
          <%end%>
        </div>

    </div>
  </div>
</div>

<script>
$('.accordion_h3').click(function(){
    if($(this).hasClass('ui-state-active')) {
      $(this).find(".fa-plus-square").css("display","block");
      $(this).find(".fa-minus-circle").css("display","none");
    }
    else {
      $(this).find(".fa-plus-square").css("display","none");
      $(this).find(".fa-minus-circle").css("display","block");
    }
});
</script>