<h1>Discharge Summary</h1>

<div id="summary_div" class="summary_div">
	<div id="summary_form">
		<input type="checkbox" id="history_cb" value="history" /> History
		<input type="checkbox" id="history_cb" value="investigation" /> Investigation
		<input type="checkbox" id="history_cb" value="follow_up" /> Follow Up
		<button onclick="generate_summary()">Generate Summary</button>
	</div></br>
	<div id="summary_content">
	</div>
</div>