<% #TODO _examination similar to history%>
<%# render 'history' %>

<div id="content" class="smart-form client-form">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 div_right">
    <div class="well no-padding">
        <%= render 'examinations_form_new' %>

    </div>
    <br />
  </div>
</div>
