<div id="over">
<div class="col-lg-2 col-md-2"></div>
<article class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
	<header>
	  <span class="widget-icon"> <i class="fa fa-group"></i> </span>
		<h2>Basic Information</h2>
	</header>

	<div>
	  <table class="table table-stripped">
		<thead>
		  <tr>
			<th><i class="fa fa-medkit"></i> UHID</th>
			<th><i class="fa fa-user"></i> Patients's Name</th>
			<th><i class="fa fa-mobile"></i> Mobile Number</th>
			<th><i class="fa fa-calendar"></i> Visit Date</th>
		  </tr>
		</thead>
		<tbody>
          <tr class="info">
  			  <% if @current_patient %>
	          	<td><%= link_to @current_patient.uhid, @current_patient, title: "Click to see All visits"%></td>
	          	<td><%= @current_patient.first_name%></td>
	          	<td><%= @current_patient.mobile%></td>
	          <% end %>
			  <% if @current_visit %>
	          	<td><%= @current_visit.created_at.strftime("%d-%m-%Y (%A)")%></td>
	          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>

</div>

